<header class="section header">
  <div class="container">

  </div>
</header>

<nav class="section navigation">
  <div class="container">
    <a routerLink="/" class="btn btn-primary m-2">Login</a>
    <a routerLink="/register" class="btn btn-warning m-2">Register</a>
    <a routerLink="/weather" class="btn btn-info m-2">Thời tiết</a>

  </div>
</nav>

<section class="section main">
  <div class="container">
    <router-outlet></router-outlet>

  </div>
</section>

<footer class="section footer">
  <div class="container">

  </div>
</footer>
