<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>

<section class="section main">
  <div class="container">
    <div class="mot">
    <div class="row">
      <div class="tx">
        <h3 class="lg1"><a href="#" style="color: #000">Login</a></h3>

        <h3 class="rg1"><a href="#" style="color: #000">Register</a></h3>
      </div>

      <div class="logo">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
      </div>

      <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Id</label>
        <input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Enter Password</label>
        <input type="password" required class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember Password</label>
      </div>
      <button type="submit" class="btn btn-primary" style="color: #000; font-weight: 600; font-size: 20px">Login</button>
    </form>
  </div>
    </div>

    <div class="hai">
      <div class="row">
        <div class="tx">
          <h3 class="lg2"><a href="#" style="color: #000">Login</a></h3>

          <h3 class="rg2"><a href="#" style="color: #000">Register</a></h3>
        </div>

        <div class="logo">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-google"></i></a>
        </div>

        <form>
          <div class="mb-3">
            <label for="exampleInputUser" class="form-label">User Id</label>
            <input type="text" required class="form-control" id="exampleInputUser">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email Id</label>
            <input type="email" required class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Enter Password</label>
            <input type="password" required class="form-control" id="exampleInputPassword">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" required id="exampleCheck2">
            <label class="form-check-label" for="exampleCheck2" >I agree to the tems & conditions</label>
          </div>
          <button type="submit" class="btn btn-primary" style="color: #000; font-weight: 600; font-size: 20px">Register</button>
        </form>
      </div>
      </div>
  </div>
</section>

</body>
</html>
