@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Poppins&family=Roboto&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container .mot .row {
  margin: 50px 50px;
  background-color: #fff;
  width: 486px;
  height: 568px;
}
h3{
  font-size: 22px;
}
.lg1{
  float: left;
  position: absolute;
  width: 200px;
  margin: 30px 55px;
  text-align: center;
  font-weight: 600;
  border-radius: 30px;
  background: rgb(131,58,180);
  line-height: 59px;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}
.rg1{
  float: left;
  width: 200px;
  margin: 30px 210px;
  text-align: center;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0 0 10px #fcb045;
  background-color: #fff;
  line-height: 59px;
}
.lg2{
  float: left;
  width: 200px;
  margin: 30px 55px;
  text-align: center;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0 0 10px #fcb045;
  background-color: #fff;
  line-height: 59px;

}
.rg2{
  float: left;
  position: absolute;
  width: 200px;
  margin: 30px 210px;
  text-align: center;
  font-weight: 600;
  border-radius: 30px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
  line-height: 59px;
}
button{
  width: 80%;
  margin: 46px;
  font-weight: 600;
  border-radius: 35px;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}
.logo {
  display: flex;
  line-height: 110px;
  font-size: 30px;
  margin: 30px 45px;
  float: left;
}
.logo a i{
  display: block;
  height: 50px;
  width: 50px;
  color: #fff;
  text-align: center;
  margin: 0 0 0 60px;
  line-height: 50px;
  border: 0 solid transparent;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}
.container .hai .row {
  display: flex;
  position: absolute;
  top: 339px;
  margin: 0 650px;
  background-color: #fff;
  width: 486px;
  height: 648px;
}
